{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align">Add Task</h3>

<div class="row">
    <form class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s12 white">
          <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2"></label>
        </div>
        <div class="input-field col s12 white">
            <i class="fas fa-user-circle prefix light-blue-text text-darken-4"></i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2"></label>
        </div>
      </div>
    </form>
  </div>
{% endblock %}