{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align">Delete Task</h3>

<div class="row white">
    <form class="col s12" method="POST" action="{{ url_for('edit_task', task_id=task._id) }}">
        <!-- Category Selector -->
        <div class="row white">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4" ></i>
                    <select id="category_name" name="category_name" class="validate">
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                        {% if category.category_name == task.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                <label for="category_name">Task Category</label>
            </div>
        </div>
         <!-- Task Name -->
        <div class="row white">
            <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <input id="task_name" name="task_name" value="{{ task.task_name }}" type="text" class="validate" minlength="5" maxlength="50" >
            <label for="task_name">Task Name</label>
            </div>
        </div>
        <!-- Task Description -->
        <div class="row white">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="task_description" name="task_description" type="text" class="validate section scrollspy" minlength="5" maxlength="250" >
                    {{- task.task_description -}} <!-- removed white space by adding -, can increase whitespace by adding + -->
                </textarea>
                <label for="task_description">Task Description</label>
            </div>
        </div>
        <!-- Date Picker -->
        <div class="row white">
            <div class="input-field col s12">
                <i class="fas fa-calender-alt prefix light-blue-text text-darken-4"></i>
                <input id="due_date" name="due_date" value="{{ task.due_date }}" type="text" class="datepicker validate" minlength="5" maxlength="50" >
                <label for="due_date">Due Date</label>
            </div>
        </div>
          <!-- Urgent Selector -->
        <div class="row white">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="is_urgent">
                    {% if task.is_urgent == "on" %}
                    <input id="is_urgent" name="is_urgent" type="checkbox"  checked>
                    {% else %}
                    <input id="is_urgent" name="is_urgent" type="checkbox" >
                    {% endif %}
                    <span class="lever"></span>
                    Is Urgent?
                    </label>
                </div>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <!-- cancel button -->
                <a name="delete_cancel" href="{{ url_for('get_tasks') }}" class="btn-large red text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <a name="delete_confirm" href="{{ url_for('get_tasks') }}" class="btn-large green text-shadow" value="yes">
                    Confirm Delete <i class="fas fa-times-circle right"></i>
                </a>
            </div>
        </div>

    </form>
</div>
{% endblock %}