{% extends "base.html" %}

<!-- {% for task in tasks %}
        {{ task.task_name + "\n"}}<br>
        {{ task.category_name}}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}
    {% endfor %} -->
    {% block content %}

    <!-- Check if a user is logged then show first part -->
{% if session.user|lower %}

    <h3 class="light-blue-text text-darken-4 center-align">All Tasks</h3>

        <div class="row card-pane grey lighten-5">
            <form method="POST" action="{{ url_for('search') }}" class="class col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8">
                        <i class="fas fa-search prefix light-blue-text text darken-4"></i>
                        <input type="text" name="query" id="query" class="validate" minlength="3" required>
                        <label for="query">Search Tasks</label>
                    </div>
                    <div class="col s12 m4">
                        <a href="{{ url_for('get_tasks') }}" class="red btn text-shadow">Reset</a>
                        <button class="light-blue darken-q btn text-shadow">
                            <i class="fas fa-search left"></i>Search</button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="collapsible">
            {% for task in tasks %}

            <li>
                <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                    <!-- if logged in user is not the same as the task creator then hide the edit button -->
                    {% if (session.user|lower == task.created_by|lower) or (session.user|lower == 'admin') %}
                    <div class="col s3">
                        <i class="fas fa-caret-down"></i>
                        <a href="{{ url_for('delete_task', task_id=task._id)}}" class="btn-small red accent-4">Delete</a>
                        <a href="{{ url_for('edit_task', task_id=task._id)}}" class="btn-small green lighten-1">Edit</a>
                        <a href="{{ url_for('done_task', task_id=task._id)}}" class="btn-small blue lighten-1">Done</a>
                    </div>
                    {% endif %}
                    <div class="col s9">
                        <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                        {% if task.is_urgent == "on" %}
                            <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                                data-position="right" data-tooltip="URGENT!"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body white">
                    <strong>{{ task.category_name }}</strong>
                    <p>{{ task.task_description }}</p>
                    <p><em>by: {{ task.created_by }}</em></p>
                </div>
            </li>
            {% endfor %}
        </ul>

<!-- if user is not logged in show option to register or log in -->
{% else %}

    <h3 class="light-blue-text text-darken-4 center-align">Task View</h3>

    <div class="row">
          <div class="card-panel">
 Welcome to Task Manager.
 
 Please <a href="{{ url_for('register')}}" class="light-blue-text text-darken-4">Sign Up</a> or <a href="{{ url_for('login')}}" class="light-blue-text text-darken-4">Log In</a> to add, view and edit your tasks.
          </div>
      </div> 

{% endif %}

{% endblock %}